=========================
Python
=========================

pycache/
*.py[cod]
*$py.class
*.so

=========================
Virtual Environment
=========================

.venv/
venv/
env/
ENV/
.env
.env.*